<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Álvaro Miranda, Marcos Lozano, Eva Gozalo">
  <title>My prediction</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    body {
      background-image: url("{% static 'img/imagenFondo.jpeg' %}");
    }
  </style>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header>
      <div>
        <h3 class="float-md-start mb-0">Automobile Insurance</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
          <a class="nav-link fw-bold py-1 px-0" href="newPrediction">Will I claim?</a>
          <a class="nav-link fw-bold py-1 px-0" href="learnMore">Learn more </a>

        </nav>
      </div>
    </header>

    <h2>These are the predictions, according to each model, on whether you will claim on your car insurance or not</h2>
    <table class="table">
  <thead>
    <tr>
      <th>Model</th>
      <th>YES</th>
      <th>NO</th>
    </tr>
  </thead>
  <tbody>
    {% for model, prediction in predictions.items %}
    <tr>
      <td>{{ model }}</td>
      {% if prediction.Yes >= prediction.No %}
        <td class="highlight">{{ prediction.Yes }}%</td>
        <td>{{ prediction.No }}%</td>
      {% else %}
      <td>{{ prediction.Yes }}%</td>
      <td class="highlight">{{ prediction.No }}%</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
    

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>